.WeatherForecast {
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}